<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <meta name="description" content="">
      <title>ROL CABLE NETWORK</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/icon" href="images/favicon.jpeg"/>
      <link rel="stylesheet" type="text/css" href="css/main.css">
	  <link rel="stylesheet" href="/css/bootstrap.min.css">
	  <script src="/js/change_pwd.js"></script>
   </head>
   <body class="app sidebar-mini rtl" style="background-color:#1D2951;">
      <main class="app-content">
      <div class="container-fluid">
         <div class="col-lg-5 col-md-5 col-xs-12 col-sm-6 col-lg-offset-2 col-sm-offset-2 col-xs-offset-0">
            <div class="tile">
               <h1 class="tile-title text-center" style="font-size:16px;">ROL CABLE NETWORK</h1>
               <div class="dashboardicon">
					<form th:action="@{/saveChangedPassword}" method="get">
						<input type="text" name="phone" id = "phone" placeholder="Phone Number" th:value="${phone}" class="wow fadeInRight" style="animation-delay:.2s" readonly/>
						<input type="password" name="oldPassword" placeholder="Enter Old Password" class="wow fadeInRight" style="animation-delay:.4s"/>
						<input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" class="wow fadeInRight" style="animation-delay:.4s"/>
						<input type="password" id="confirmPassword" placeholder="Enter New Password Again" class="wow fadeInRight" style="animation-delay:.4s"/>
						
						<div class="buttonWrapper">
      						<input type="button" name="cancel" class="previous action-button-previous" value="Cancel" onclick="window.history.back()" >
      						<button type="submit" id="submitButton" onclick="validateSignupForm()" class="submit action-button">
      						<span>Change Password</span>
      						<span id="loader"></span>
      						</button>
      					</div>
						
					</form>
					<div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
					<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
					
               </div>
            </div>
         </div>
      </div>
    </main>
	  
	  
      <script src="/js/jquery.min.js"></script>
	  <script src="/js/bootstrap.min.js"></script>
   </body>
</html>
