<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RCN</title>
<link rel="stylesheet" type="text/css" href="/css/style_home.css" />
</head>
<body>

	<br />
	<br />
	<br />
	<table align="center">
		<tr style="font-size: 35px">
			<td>Welcome to Rol Cable Network</td>
			<td></td>
		</tr>
		<tr style="font-size: 24px">
			<td></td>
			<td>-Regards, Fuji Bari</td>
		</tr>
	</table>

	<div class="login-box">
		<form action="LoginController" method="post">
			<h1>Login</h1>
			<div class="textbox">
				<i class="fas fa-user"></i> <input type="text" name="user"
					placeholder="Username">
			</div>

			<div class="textbox">
				<i class="fas fa-lock"></i> <input type="password" name="password"
					placeholder="Password">
			</div>

			<input type="submit" class="btn" value="Sign in">
		</form>
	</div>

</body>
</html>