<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <form class="dashboardicon" style="margin-top: 0; text-align: left;" th:action="@{saveIncome}" method="post" enctype="multipart/form-data">
              <fieldset style="margin-top: 0;">
				<legend style="text-align:center; padding-bottom: 60px;" th:text="${header}"></legend>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Income Category</label><!--dropdown from income category-->
                    <select class="form-control" name="incomeType" id="incomeType" style="height: 48px;" required>
                      <option selected disabled="disabled" value="">Select Income Category</option>
                      <option style="color: #333;" th:each="incomeType : ${incomeTypes}" 
										th:text="${incomeType.name}" th:value="${incomeType.id}" th:selected="${incomeType.id==income?.incomeType?.id}"></option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Amount</label>
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount" th:value="${income?.amount}" onChange="calculateTotalIncExp()">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Tax (%)</label>
                    <input type="number" class="form-control" name="tax" id="tax" placeholder="Tax" th:value="${income?.tax}" onChange="calculateTotalIncExp()">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Total</label>
                    <input type="number" class="form-control" name="totalAmount" id="totalAmount" placeholder="Total" th:value="${income?.totalAmount}">
                  </div>
                  
                </div>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Payment Mode</label>
                    <select class="form-control" name="paymentMode" id="paymentMode" style="height: 48px;" >
                      <option selected disabled="disabled" value="">Select Payment Mode</option>
                      <option th:selected="${income?.paymentMode=='Cash'}">Cash</option>
                      <option th:selected="${income?.paymentMode=='Account Pay'}">Account Pay</option>
                      <option th:selected="${income?.paymentMode=='Check'}">Check</option> 
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Income Date</label>
                    <input type="date" class="form-control" name="date" placeholder="Date" th:value="${income?.date}" required sec:authorize="hasAuthority('ADMIN')">
                    <input th:if="${income?.id}" type="date" class="form-control" name="date" placeholder="Date" th:value="${income?.date}" required sec:authorize="!hasAuthority('ADMIN')">
                    <input th:if="${income?.id==null}" type="date" class="form-control" name="date" id="defaultDate" readonly required sec:authorize="!hasAuthority('ADMIN')">
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Received By</label>
                    <select class="form-control" name="receivedBy" style="height: 48px;" required>
                      <option selected disabled="disabled" value="">Select Received By</option>
							<option style="color: #333;" th:each="user : ${users}" 
								th:text="${user.name}" th:value="${user.id}" th:selected="${user.id==income?.receivedBy?.id}"></option>
							<!--dropdown managed by admin and appUser--> 
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Received From</label>
                    <input type="text" class="form-control" name="receivedFrom" placeholder="Received From" th:value="${income?.receivedFrom}">
                  </div>
                </div>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-12">
                    <label>Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="remarks" placeholder="Remarks" th:value="${income?.remarks}">
                  </div>
                </div>
			<input th:if="${income?.id}" type="hidden" name="id" th:value="${income?.id}">
            <input type="button" name="cancel" class="previous action-button-previous" value="Cancel" onclick="window.history.back()" >
            <input type="submit" name="submit" class="submit action-button" value="Save">
            </fieldset>
            </form>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
  </body>
</html>
