<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>


	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboardicon2" style="text-align: left;">
					<input type="button" name="addAdmin" class="submit action-button" value="Add New Moderators" th:attr="onclick=|location.href='@{/addModeratorPage}'|" 
						> <!-- sec:authorize="hasAuthority('ADMIN')" -->
				</div>

				<div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>

				<div class="tile">
					<h3 class="tile-title">Moderators</h3>
					<form class="dashboardicon">

						<div class="form-group col-lg-12">
							<div class="col-lg-12">
								<input type="text" name="searchModerator" id="searchTable" placeholder="Search Moderator">
							</div>
						</div>
					</form>
					<div class="table-responsive table_size" style="margin-top: 50px;">
						<div><p name="status" class="text-center"></p></div>
						<div id="errorMessage"></div>
						<table class="table table-bordered table-responsive table-hover" style="width: 100%;">
							<thead class="thead-inverse" style="background-color: #1D2951; color: #FFF;">
								<tr>
									<th class="table_heading" style="width: 23%;">Name</th>
									<th class="table_heading" style="width: 23%;">Phone</th>
									<th class="table_heading" style="width: 23%;">Address</th>
									<th class="table_heading" style="width: 31%;">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr style="background-color:#FFF" th:each="moderator: ${moderatorList}">
									<td th:text="${moderator.name}" />
									<td th:text="${moderator.phone}" />
									<td th:text="${moderator.address}" />
									<td>
										<div class="dashboardicon2" style="text-align: left;">
										  <form th:action="@{/moderator}" method="get">
											<input type="hidden" th:value="${moderator.id}" id="id" name='id'>
											<input type="hidden" th:value="${moderator.phone}" id="phone" name='phone'>
											<input type="hidden" th:value="${moderator.name}" id="name" name='name'>
											
											<input type="submit" th:formaction="@{/viewModerator}" name="action" class="submit action-button" value="View">
											
											<input type="submit" th:formaction="@{/editModerator}" name="action" class="submit action-button" value="Edit" 
																									> <!-- sec:authorize="hasAuthority('ADMIN')" -->
											<!-- 
											<input type="button" name="action" class="submit action-button2" value="New Pin" th:attr="onClick=|generatePin(${moderator.phone})|" 
																								sec:authorize="hasAuthority('ADMIN')" >
											 -->
											<input type="submit" th:formaction="@{/deleteModerator}" name="action" class="submit action-button2" value="Delete" 
																									onClick="return confirmDelete()" sec:authorize="hasAuthority('ADMIN')" >
										  </form>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div th:replace="fragments :: main_scripts"></div>
	<div th:replace="fragments :: table_search_script"></div>
	<div th:replace="fragments :: otp_generate_script"></div>
</body>
</html>