<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
	<div class="row">
		<div class="col-lg-5 col-md-5 col-xs-12 col-sm-6 col-lg-offset-3 col-sm-offset-3 col-xs-offset-0  marginl">
            <div class="tile" id="printTable">
               <h1 class="tile-title text-center" style="font-size: 16px;">View Reminder</h1>
               <div class="dashboardicon">
                  <input type="text" name="name" th:value="${reminder?.name}" readonly>
                  <input type="text" name="phone" th:value="${reminder?.phone}" readonly>
                  <input type="text" name="message" th:value="${reminder?.message}" readonly>
                  <input type="date" name="date" th:value="${reminder?.date}" readonly>
                  <input type="text" name="status" th:value="${reminder?.status}" readonly>
                  <input type="button" name="cancel" class="previous action-button-previous" value="Cancel" onclick="window.history.back()">
                  <input type="button" name="print" class="submit action-button" value="Print" onclick="printData()">
               </div>
            </div>
         </div>
		</div>
    </main>


	<div th:replace="fragments :: main_scripts"></div>
</body>
</html>