<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
<!-- screen elements stylesheet should be here -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
 	<div class="welcome">
 		<h1>Welcome to Rol Cable Network</h1>
 	</div>

	<div class="navbar">
		<div class="dropdown">
			<button class="dropbtn">Customer<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Add Customer</a>
				<a href="#">View Customer</a>
				<a href="#">Modify Customer</a>
				<a href="#">Delete Customer</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Collection<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Add Collection</a>
				<a href="#">Update Collection</a>
				<a href="#">Delete Collection</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Expense<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Add Expense</a>
				<a href="#">Update Expense</a>
				<a href="#">Delete Expense</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Bulk Inquiry<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
				<a href="#">Link 4</a>
				<a href="#">Link 5</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Update Info<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">User Statistics<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
				<a href="#">Link 4</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">TBD<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div>
		<a href="UserHome.jsp">TBD</a>
	</div>
	<div class="message">
		<br/><br/>
		<h2>This site is under development ...</h2>
		<h2>Please come back later :)</h2>
	</div>

</body>
</html>