<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dashboardicon2" style="text-align: left;">
              <div th:if="${successMessage}" th:text="${successMessage}"
                class="alert alert-success" role="alert"></div>
              <div class="tile">
                <h3 class="tile-title"></h3>
                
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label style="color:#780c2a;">Select Year</label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select id="ddlYears" onChange="loadBillForParticularYear()"></select>
                  </div>
                </div>
                <div class="table-responsive table_size" style="margin-top: 50px;">
                  <form th:action="@{/bill-record}" method="get">
                    <div class="dashboardicon2" style="text-align: left;padding:5px 5px" th:if="${listPage.content.size() > 0}">
                      <input type="submit" th:formaction="@{/bill/getSubscriptionBillRecordsForConsumer}" name="action" class="submit action-button" value="Subscription Bill Records">
					  <input type="submit" th:formaction="@{/bill/getDueRecordsForConsumer}" name="action" class="submit action-button" value="Other Due Records">
					  <input type="submit" th:formaction="@{/collection/collectSubscriptionDue}" name="action" class="submit action-button" value="Collect Subscription Due" th:disabled="${!#authorization.expression('hasAnyAuthority(''ADMIN'',''COLLECT_SUBSCRIPTION_DUE'')')}">
					  <input type="submit" th:formaction="@{/collection/collectOtherDue}" name="action" class="submit action-button" value="Collect Other Due" th:disabled="${!#authorization.expression('hasAnyAuthority(''ADMIN'',''COLLECT_OTHER_DUE'')')}">
                      <input type="button" class="submit action-button" value="Download Excel" onclick="exportTableToExcel()">
                    </div>
                    <table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
                      <thead class="thead-inverse"
                        style="background-color: #06697e; color: #FFF;">
                        <tr>
                          <th class="table_heading noPrint"></th>
						  <th class="table_heading">Name</th>
                          <th class="table_heading">Billing Address</th>
                          <th class="table_heading">Subscription Dues</th>
                          <th class="table_heading">Other Dues</th>
                          <th class="table_heading">Current Total Due</th>
                          <th class="table_heading">Collection Amount</th>
                          <th class="table_heading">Advance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #FFF" th:each="consumer : ${listPage.content}">
                          <td class="noPrint" ><input type='radio' class="radioBtn" name='consumerId' th:value="${consumer.id}"></td>
						  <td th:text="${consumer.fullName}" />
                          <td th:text="${consumer.fullAddress}" />
						  <td th:text="${#numbers.formatDecimal(consumer.subscriptionBill, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.otherDueBill, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.totalPending, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.totalPaid, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.advanceAmount, 1, 2)}" />
                        </tr>
                      </tbody>
                    </table>
                  </form>
				  
				  <div th:replace="fragments :: pagination"></div>
				  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      <script type="text/javascript" th:inline="javascript">
		window.onload = function () {
			//Reference the DropDownList.
			var ddlYears = document.getElementById("ddlYears");
			
			//Determine the Current Year.
			var currentYear = (new Date()).getFullYear();
			
			//Loop and add the Year values to DropDownList.
			
			var option = document.createElement("OPTION");
				option.innerHTML = "All Years";
				option.value = "All Years";
				//option.disabled = true;
				ddlYears.appendChild(option);
				
			for (var i = currentYear; i >= 2000; i--) {
				var option = document.createElement("OPTION");
				option.innerHTML = i;
				option.id = 'year' + i;
				option.value = i;
				ddlYears.appendChild(option);
			}
			/*<![CDATA[*/
			var year = /*[[${year}]]*/ 'default';
			document.getElementById("year" + year).selected = "true";
			/*]]>*/
			
		};
		
		function loadBillForParticularYear() {
			var year = document.getElementById("ddlYears").value;
			window.location = '/bill?year=' + year;
			
		}
		
      </script>
      <div th:replace="fragments :: main_scripts"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
      <div th:replace="fragments :: table_search_script"></div>
  </body>
</html>
