<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <div class="dashboardicon2" style="text-align: left;">
              <div th:if="${successMessage}" th:text="${successMessage}"
                class="alert alert-success" role="alert"></div>
              <div class="tile">
                <h3 class="tile-title"></h3>
                
                <form class="dashboardicon" th:action="@{/bill}" method="get">
                	<div th:replace="fragments :: search_bar"></div>
                </form>
                
                <div class="table-responsive table_size" style="margin-top: 50px;">
                  <form th:action="@{/stock-out}" method="get">
                    <div class="dashboardicon2" style="text-align: left;" ><!--th:if="${orderList.size() > 0}"-->
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-bottom">
                      	<input type="submit" th:formaction="@{/viewStockOut}" name="action" class="submit action-button" value="View">
                      	<input type="button" name="action" class="submit action-button" value="Print" onclick="printBill()">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                      	<select class="form-control contact-select" id="contact" multiple >
							<option style="color: #333;" th:each="admin : ${admins}" th:text="${admin.phone}" th:value="${admin.phone}"></option>
                     	 </select>
                      </div>
                    </div>
                    <table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
                      <thead class="thead-inverse"
                        style="background-color: #0b6400; color: #FFF;">
                        <tr>
                          <th class="table_heading noPrint"></th>
                          <th class="table_heading">Bill No</th>
                          <th class="table_heading">Bill Type</th><!--gst, non-gst-->
                          <th class="table_heading">Customer</th>
                          <th class="table_heading">Address</th>
                          <th class="table_heading">Total Roll</th>
                          <th class="table_heading">Amount</th>
                          <th class="table_heading">Paid</th>
                          <th class="table_heading">Due</th>
                          <th class="table_heading">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #FFF" th:each="stockOut : ${listPage.content}">
                          <td class="noPrint" ><input type='radio' class="radioBtn" name='id' id="printId" th:value="${stockOut.id}"/>
                          <td th:text="${stockOut.billNo}" />
                          <td th:text="${stockOut.billType}" />
                          <td th:text="${stockOut.customer?.name}" />
                          <td th:text="${stockOut.customer?.address}" />
                          <td th:text="${stockOut.productList?.size()}" />
                          <td th:text="${stockOut.totalPaid}" />
                          <td th:text="${stockOut.totalDue}" />
                          <td th:text="${stockOut.paymentDate}" />
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  
                  <div th:replace="fragments :: pagination"></div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
      <div th:replace="fragments :: bill_scripts"></div>
  </body>
</html>
