<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <form class="dashboardicon" style="margin-top: 0; text-align: left;">
              <legend style="text-align:center; padding-top: 0px;" >View Bucket</legend>
			  <fieldset style="margin-top: 0;">
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label>Bucket Name</label>
                    <input type="text" class="form-control" name="name" th:value="${bucket.name}" readonly>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Channel Count</label>
                    <input type="number" class="form-control" name="channelCount" th:value="${bucket.channelCount}" readonly>
                  </div>
                </div>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Base Price</label>
                    <input type="number" class="form-control" name="basePrice" th:value="${bucket.basePrice}" readonly>
                  </div>
				  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>GST / Non GST</label>
                    <input type="text" class="form-control" name="gstNonGst" th:value="${bucket.gstNonGst}" readonly>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Final Price</label>
                    <input type="number" class="form-control" name="price" th:value="${#numbers.formatDecimal(bucket.price, 1, 2)}" readonly>
                  </div>
                </div>
            <input type="button" name="back" class="previous action-button-previous" value="Back" onclick="window.history.back()" >
            </fieldset>
            </form>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
  </body>
</html>
