<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <form class="dashboardicon" style="margin-top: 0; text-align: left;" th:action="${billType == 'Subscription'} ? @{/collection/saveSubscriptionCollection} : @{/collection/saveOtherDueCollection}" method="post">
              <fieldset style="margin-top: 0;">
				<legend style="text-align:center; padding-top: 50px;" th:text="${header} + ${pendingAmount != null ? pendingAmount : ''}"></legend>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label>Consumer</label>
                    <select class="form-control" name="consumer" id="consumer" style="height: 48px;" required disabled>
                      <option selected disabled="disabled" value="">Select Consumer</option>
                      <option style="color: #333;" th:each="consumer : ${consumerList}" 
										th:text="${consumer.fullName}" th:value="${consumer.id}" th:selected="${consumer.id==consumerId}"></option>
                    </select>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Payment Mode</label>
                    <select class="form-control" name="paymentMode" style="height: 48px;" >
                      <option selected disabled="disabled" value="">Select Type</option>
                      <option th:selected="${collection?.paymentMode=='Cash'}">Cash</option>
                      <option th:selected="${collection?.paymentMode=='Deposit'}">Deposit</option>
                    </select>
                  </div>
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Date</label>
                    <input type="date" class="form-control" name="date" placeholder="Enter Date" th:value="${collection.date}" required sec:authorize="hasAuthority('ADMIN')">
                    <input th:if="${collection.id}" type="date" class="form-control" name="date" placeholder="Enter Date" th:value="${collection.date}" required sec:authorize="!hasAuthority('ADMIN')">
                    <input th:if="${collection.id==null}" type="date" class="form-control" name="date" id="defaultDate" readonly required sec:authorize="!hasAuthority('ADMIN')">
                  </div>
                </div>
				<div class="col-lg-12 flexdisplay">
				  <div th:if="${billType == 'Subscription'}" class="col-lg-12">
                    <label>Select Bills</label>
					<select class="form-control multiple-select-pillbox" name="bills" id="bills" style="height: 48px !important;" multiple onChange="calculateSubscriptionBillAmount()">
                      <option style="color: #333;" th:each="bill : ${bills}" 
										th:text="${bill.endDate + '&nbsp&nbsp&nbsp₹' + bill.billAmount}" th:value="${bill.id}"
										th:selected="${collection.bills?.contains(bill)}"></option>
                    </select>
				  </div>
				  <div th:if="${billType == 'Other Due'}" class="col-lg-12">
                    <label>Select Dues</label>
					<select class="form-control multiple-select-pillbox" name="dues" id="dues" style="height: 48px !important;" multiple onChange="calculateOtherDueAmount()">
                      <option style="color: #333;" th:each="due : ${dues}" 
										th:text="${due.dueType + '&nbsp&nbsp&nbsp₹' + due.dueAmount}" th:value="${due.id}"
										th:selected="${collection.dues?.contains(due)}"></option>
                    </select>
				  </div>
				</div>
				<div class="col-lg-12 flexdisplay">
				  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Amount</label>
                    <input type="number" min="0" class="form-control" name="amount" id="amount" placeholder="Amount" th:value="${collection.amount}" onChange="calculateNetAmount()" readonly required>
                  </div>
				  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Discount</label>
                    <input type="number" min="0" class="form-control" name="discount" id="discount" placeholder="Discount" th:value="${collection.discount}" onChange="calculateNetAmount()">
                  </div>
				  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Net Amount</label>
                    <input type="number" min="0" class="form-control" name="netAmount" id="netAmount" placeholder="Payable Amount" th:value="${collection.netAmount}" readonly>
                  </div>
				</div>
				<div class="col-lg-12 flexdisplay">
				  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Received By</label>
                    <select class="form-control" name="collectedBy" style="height: 48px;" required>
                      <option selected disabled="disabled" value="">Select Received By</option>
							<option style="color: #333;" th:each="user : ${users}" 
								th:text="${user.name}" th:value="${user.id}" th:selected="${user.id==collection?.collectedBy?.id}"></option>
							<!--dropdown to include both admin and appUser--> 
                    </select>
                  </div>
				  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <label>Remarks</label>
                    <input type="text" class="form-control" name="remarks" placeholder="Remarks" th:value="${collection.remarks}">
                  </div>
				</div>
			<input th:if="${collection.id}" type="hidden" name="id" th:value="${collection.id}">
            <input type="button" name="cancel" class="previous action-button-previous" value="Cancel" onclick="window.history.back()" >
            <input type="submit" name="submit" class="submit action-button" value="Save">
            </fieldset>
            </form>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	  <script>
		$(document).ready(function() {
			$('.multiple-select-pillbox').select2();
		});
	  </script>
	  <script>
      $("form").submit(function() {
    	    $("#consumer").prop("disabled", false);
    	});
      </script>
  </body>
</html>
