<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <form class="dashboardicon" style="margin-top: 0; text-align: left;" th:action="@{/connection/save}" method="post" enctype="multipart/form-data">
              <fieldset style="margin-top: 0;">
				<legend style="text-align:center; padding-bottom: 60px;" th:text="${header}"></legend>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<label>Consumer</label>
                    <select class="form-control" name="consumer" style="height: 48px;" required>
                      <option selected disabled="disabled" value="">Select Consumer</option>
                      <option style="color: #333;" th:each="consumer : ${consumerList}" 
										th:text="${consumer.fullName}" th:value="${consumer.id}" th:selected="${consumer.id==connection.consumer?.id}"></option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Connection Type</label>
                    <select class="form-control" name="connectionType" style="height: 48px;" required>
             	      <option selected disabled="disabled" value="">Select Type</option>
                	  <option th:selected="${connection?.connectionType=='Cable'}">Cable</option>
                      <option th:selected="${connection?.connectionType=='Internet'}">Internet</option>
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Connection For</label>
                    <select class="form-control" name="connectionFor" style="height: 48px;" >
                      <option selected disabled="disabled" value="">Connection For</option>
                      <option th:selected="${connection?.connectionFor=='Single Set'}">Single Set</option>
                      <option th:selected="${connection?.connectionFor=='STB'}">STB</option>
                      <option th:selected="${connection?.connectionFor=='STB3'}">STB3</option> 
                    </select>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Date of Joining</label>
                    <input type="date" class="form-control" name="date" placeholder="Enter Joining Date" th:value="${connection.date}">
                  </div>
                </div>
                <div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="dateOfConnStart" id="dateOfConnStart" placeholder="Start Date" 
						th:value="${connection.dateOfConnStart}" onChange="updateExpiryDate()" required>
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Expiry Date</label>
                    <input type="date" class="form-control" name="dateOfConnExpiry" id="dateOfConnExpiry" placeholder="Expiry Date" 
						th:value="${connection.dateOfConnExpiry}" readonly>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Security Deposit</label>
                    <input type="number" class="form-control" name="securityDeposit" placeholder="Security Deposit Amount" th:value="${connection?.securityDeposit}">
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Connection Charge</label>
                    <input type="number" class="form-control" name="connectionChange" placeholder="Connection Charge" th:value="${connection?.connectionChange}">
                  </div>
                </div>
				
				<div class="col-lg-12 flexdisplay">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Select Base Package</label>
                    <select class="form-control" name="channelPackage" id="channelPackage" style="height: 48px !important;" required onChange="calculateSubscriptionAmount()">
                      <option selected disabled="disabled" value="">Select Package</option>
                      <option style="color: #333;" th:each="channelPackage : ${packageList}" 
										th:text="${channelPackage.name + '&nbsp&nbsp&nbsp₹' + channelPackage.price}" th:value="${channelPackage.id}"
										th:selected="${channelPackage.id == connection.channelPackage?.id}"></option>
                    </select>
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Subscription Amount</label>
                    <input type="number" class="form-control" name="subscriptionAmount" id="subscriptionAmount" placeholder="0" th:value="${connection?.subscriptionAmount}" readonly>
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Previous Due</label>
                    <input type="number" class="form-control" name="previousDue" id="previousDue" placeholder="0" th:value="${connection?.previousDue}" readonly>
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label>Advance Amount</label>
                    <input type="number" class="form-control" name="advanceAmount" id="advanceAmount" placeholder="0" th:value="${connection?.advanceAmount}" readonly>
                  </div>
                </div>
				
				<div class="col-lg-12 flexdisplay">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <label>Select Buckets</label>
                    <select class="form-control multiple-select-pillbox" name="buckets" id="buckets" style="height: 48px !important;" multiple onChange="calculateSubscriptionAmount()">
                      <option style="color: #333;" th:each="bucket : ${bucketList}" 
										th:text="${bucket.name + '&nbsp&nbsp&nbsp₹' + bucket.price}" th:value="${bucket.id}"
										th:selected="${connection.buckets?.contains(bucket)}"></option>
                    </select>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <label>Select Channels</label>
                    <select class="form-control multiple-select-pillbox" name="channels" id="channels" style="height: 48px !important;" multiple onChange="calculateSubscriptionAmount()">
                      <option style="color: #333;" th:each="channel : ${channelList}" 
										th:text="${channel.name + '&nbsp&nbsp&nbsp₹' + channel.price}" th:value="${channel.id}"
										th:selected="${connection.channels?.contains(channel)}"></option>
                    </select>
                  </div>
                </div>
				<table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
                  <thead class="thead-inverse"
                    style="background-color: #1D2951; color: #FFF;">
                    <tr>
                      <th class="table_heading">SL. No</th>
                      <th class="table_heading">Start Date</th>
                      <th class="table_heading">End Date</th>
                      <th class="table_heading">Subscription Charge</th>
					  <th class="table_heading">Paid Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="background-color: #FFF" th:each="bills, iter : ${connection.bills}">
                      <td th:text="${iter.count}" />
                      <td th:text="${bills?.startDate}" />
                      <td th:text="${bills?.endDate}" />
                      <td th:text="${bills?.billAmount}" />
					  <td th:text="${bills?.paidAmount}" />
                    </tr>
                  </tbody>
                </table>
				<div class="col-lg-12 flexdisplay" th:if="${connection.id}">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label style="color:#780c2a;>">Change Connection State</label>
                  </div>
				  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" name="state" style="height: 30px !important;border: 1px solid black;" required>
             	      <option selected disabled="disabled" value="">Select Type</option>
                	  <option class="btn btn-success" th:selected="${connection?.state=='Connected'}">Connected</option>
					  <option class="btn btn-warning" th:selected="${connection?.state=='Suspended'}">Suspended</option>
                      <option class="btn btn-danger" th:selected="${connection?.state=='Disconnected'}">Disconnected</option>
                    </select>
                  </div>
				</div>
			<input th:if="${connection.id}" type="hidden" name="id" th:value="${connection.id}">
			<!--<input type="hidden" name="currentBill" th:value="${connection.currentBill?.id}">-->
            <input type="button" name="cancel" class="previous action-button-previous" value="Cancel" onclick="window.history.back()" >
            <input type="submit" name="submit" class="submit action-button" value="Save">
            </fieldset>
            </form>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
	  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	  <script>
		$(document).ready(function() {
			$('.multiple-select-pillbox').select2();
		});
	  </script>
  </body>
</html>
