<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
        <div class="row">
          <div class="col-md-12">
            <div class="dashboardicon2" style="text-align: left;">
              <input type="button" class="submit action-button" value="Add New Connection" th:attr="onclick=|location.href='@{/connection/add}'|" >
              <div th:if="${successMessage}" th:text="${successMessage}"
                class="alert alert-success" role="alert"></div>
              <div th:if="${errorMessage}" th:text="${errorMessage}"
                class="alert alert-danger" role="alert"></div>
              <div class="tile">
                <h3 class="tile-title"></h3>
                
                <form class="dashboardicon" th:action="@{/connection}" method="get">
                	<div th:replace="fragments :: search_bar"></div>
                </form>
                
                <div class="table-responsive table_size" style="margin-top: 50px;">
                  <form th:action="@{/}" method="get">
                    <div class="dashboardicon2" style="text-align: left;" th:if="${listPage.content.size() > 0}" >
                      <input type="submit" th:formaction="@{/connection/view}" class="submit action-button" value="View">
                      <input type="submit" th:formaction="@{/connection/edit}" class="submit action-button" value="Edit">
                      <input type="button" class="submit action-button" value="Print" onclick="printData()">
                      <input type="submit" th:formaction="@{/connection/delete}" class="submit action-button2" value="Delete" onClick="return confirmDelete()">
					  <input type="submit" th:formaction="@{/connection/renew}" class="submit action-button" value="Renew" onClick="return confirmRenew()">
                    </div>
                    <table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
                      <thead class="thead-inverse"
                        style="background-color: #1D2951; color: #FFF;">
                        <tr>
                          <th class="table_heading noPrint"></th>
                          <th class="table_heading">ID</th>
                          <th class="table_heading">Consumer</th>
                          <th class="table_heading">Connection Type</th>
                          <th class="table_heading">Start Date</th>
                          <th class="table_heading">Connection Charge</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #FFF" th:each="connection : ${listPage.content}">
                          <td class="noPrint" ><input type='radio' th:value="${connection.id}" class="radioBtn" name='id'></td>
                          <td th:text="${connection.id}" />
                          <td th:text="${connection.consumer?.fullName}" />
                          <td th:text="${connection.connectionType}" />
                          <td th:text="${connection.dateOfConnStart}" />
                          <td th:text="${connection.connectionChange}" />
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  
                  <div th:replace="fragments :: pagination"></div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div th:replace="fragments :: main_scripts"></div>
  </body>
</html>
