<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
    <main class="app-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="dashboardicon2" style="text-align: left;">
              <div th:if="${successMessage}" th:text="${successMessage}"
                class="alert alert-success" role="alert"></div>
              <div class="tile">
                <h3 class="tile-title"></h3>
                
                <form class="dashboardicon" th:action="@{/consumer/filter}" method="get">
					<div class="col-lg-12 flexdisplay">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top: 10px;">
							<label>Minimum Due Amount</label>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<input type="text" name="filterAmount" th:value="${filterAmount}" placeholder="Minimum Due" >
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
							<div style="padding-top: 5px;">
								<input type="submit" class="submit action-button" value="Search">
							</div>
						</div>
					</div>
                </form>
                
                <div class="table-responsive table_size" style="margin-top: 50px;">
                  <form th:action="@{/bill-record}" method="get">
                    <div class="dashboardicon2" style="text-align: left;" >
					  <input type="submit" th:formaction="@{/reminder}" name="action" class="submit action-button" value="Send Reminder" sec:authorize="hasAnyAuthority('ADMIN','SEND_REMINDER')">
                      <input type="button" name="action" class="submit action-button" value="Print" onclick="printData()">
                    </div>
                    <table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
                      <thead class="thead-inverse"
                        style="background-color: #06697e; color: #FFF;">
                        <tr>
                          <th class="table_heading noPrint"></th>
						  <th class="table_heading">Name</th>
						  <th class="table_heading">Phone No</th>
                          <th class="table_heading">Subscription Dues</th>
                          <th class="table_heading">Other Dues</th>
                          <th class="table_heading">Current Total Due</th>
                          <th class="table_heading">Advance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #FFF" th:each="consumer : ${listOfConsumers}">
                          <td class="noPrint" ><input type='checkbox' class="radioBtn" name='consumerId' th:value="${consumer.id}"></td>
						  <td th:text="${consumer.fullName}" />
						  <td th:text="${consumer.phoneNo}" />
						  <td th:text="${#numbers.formatDecimal(consumer.subscriptionBill, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.otherDueBill, 1, 2)}" />
						  <td th:text="${#numbers.formatDecimal(consumer.totalPending, 1, 2)}" />
						  <td th:text="${consumer.connections.size() > 0} ? ${#numbers.formatDecimal(consumer.advanceAmount, 1, 2)} : 0.0" />
                        </tr>
                      </tbody>
                    </table>
                  </form>
				  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      <script type="text/javascript" th:inline="javascript">
		window.onload = function () {
			/*<![CDATA[*/
			var year = /*[[${year}]]*/ 'default';
			document.getElementById("year" + year).selected = "true";
			/*]]>*/
			
		};
		
		function loadConsumersWithFilterChange() {
			var consumerFilter = document.getElementById("consumerFilter").value;
			window.location = '/bill?year=' + year;
			
		}
		
      </script>
      <div th:replace="fragments :: main_scripts"></div>
      <div th:replace="fragments :: table_search_script"></div>
  </body>
</html>
